extends ../partials/head
block headcontent
	link(rel='stylesheet', href='/stylesheets/auth.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')

block content
	main
			if errorMessage
				.user-message.user-message--error #{errorMessage}
			form.login-form(action='/signup', method='POST' novalidate)
				.form-control
					label(for='name') Name:
					input#name(type='text', name='name', value=oldInput.name)
				.form-control
					label(for='email') Email
					input#email(type='email', name='email', value=oldInput.email)
				.form-control
					label(for='password') Password
					input#password(type='password', name='password', value=oldInput.password)
				.form-control
					label(for='confirmPassword') Confirm Password
					input#confirmPassword(type='password', name='confirmPassword', value=oldInput.confirmPassword)
				input(type='hidden', name='_csrf', value=csrfToken)
				button.button.hollow(type='submit') Signup
	include ../partials/end
