extends ../partials/logbook-includes/logbook-layout

block contentBlock

	if !editing
		h4.align-center-middle.text-center.margin-vertical-3 New Log Entry
	else
		h4.align-center-middle.text-center.margin-vertical-3 Update Log Entry
	form(action=editing ? "/logbook/edit/": "", method="POST")
		.grid-container.small-full
			.align-justify.grid-x.grid-margin-x
				.cell.small-12.large-4.medium-6.input-group
					span.input-group-label Date:
					input.input-group-field#date-input(type='text', name='date', placeholder='Date', value=editing ? log.date : "")
				.cell.small-12.large-4.medium-4.cell.input-group
					span.input-group-label Location:
					input.input-group-field(type='text', name='location', placeholder='Location', value=editing ? log.location : "")
				.cell.small-12.large-3.medium-6.input-group
					span.input-group-label Company:
					input.input-group-field(type='text', name='company', placeholder='Company' autocomplete=false, value=editing ? log.company : "")
				.cell.small-12.large-3.medium-3.input-group
					span.input-group-label Supervisor:
					input.input-group-field(type='text', name='supervisor', placeholder='Supervisor', value=editing ? log.supervisor: "")
				.cell.small-12.large-3.medium-3.input-group
					span.input-group-label Email:
					input.input-group-field(type='email', name='email', placeholder='Supervisor Email', autocomplete=false, value=editing ? log.email : "")
				.cell.small-12.large-2.medium-4.input-group
					span.input-group-label ID:
					input.input-group-field(type='text', name='id_num', placeholder='Id#', value=editing ? log.id_num : "")
				.cell.small-12.large-3.medium-4.input-group
					span.input-group-label Hours:
					input.input-group-field(type='number', name='hours', placeholder='Hours', value=editing ? log.hours : "" )
				.cell.large-4.small-12.medium-4.input-group
					span.input-group-label Height:
					input.input-group-field(type='text', name='max_height', placeholder='Max Height', value=editing ? log.maxHeight: "")
					span.input-group-label Ft
				.cell.small-12.large-4.medium-6.input-group
					span.input-group-label Type:
					select.input-group-field(name='typeOfWork')
						option(value="", #{log.typeOfWork} = "" ? selected : "", hidden, disabled ) Select an option:
						option(value='Rope Access', #{log.typeOfWork} = "Rope Access" ? selected : "") Rope Access
						option(value='Fall-protection', #{log.typeOfWork} = "Fall-protection" ? selected : "") Fall Protection
						option(value='Travel-restraint', #{log.typeOfWork} = "Travel-restraint" ? selected : "") Travel Restraint
						option(value='Training', #{log.typeOfWork} = "Training" ? selected : "") Training
						option(value='Planning', #{log.typeOfWork} = "Planning" ? selected : "") Planning
						option(value='Stand-By Rescue', #{log.typeOfWork} = "Stand-By Rescue" ? selected : "") Stand-by Rescue
				.cell.small-12.medium-6.large-4.input-group
					span.input-group-label Organization:
					select.input-group-field(name='org')
						option(value='sprat', #{log.typeOfWork} = "sprat" ? selected : "") Sprat
						option(value='irata', #{log.typeOfWork} = "irata" ? selected : "") Irata
						option(value='', #{log.typeOfWork} = "" ? selected : "") None
				fieldset.cell.fieldset.small-12.large-7
					legend Types of Work Used:
					.grid-container.fluid
						.grid-x.align-.grid-margin-x.medium-margin-collapse
							.input-group.small-12.medium-4
								input(id='descent', type='checkbox', name='types', value='Descent')
								label(for='descent') Descent
							.input-group.small-12.medium-4
								input(id='ascent', type='checkbox', name='types', value='Ascent')
								label(for='ascent') Ascent
							.input-group.small-12.medium-4
								input(id='v_aid', type='checkbox', name='types', value='Vertical Aid')
								label(for='v_aid') Vertical Aid
							.input-group.small-12.medium-4
								input(id='h_aid', type='checkbox', name='types', value='Horizontal Aid')
								label(for='h_aid') Horizontal Aid
							.input-group.small-12.medium-4
								input(id='deviation', type='checkbox', name='types', value='Deviation')
								label(for='deviation') Deviation
							.input-group.small-12.medium-4
								input(id='l_reanchor', type='checkbox', name='types', value='Long ReAnchor')
								label(for='l_reanchor') Long ReAnchor
							.input-group.small-12.medium-4
								input(id='s_reanchor', type='checkbox', name='types', value='Short ReAnchor')
								label(for='s_reanchor') Short ReAnchor
							.input-group.small-12.medium-4
								input(id='r2r_transfer', type='checkbox', name='types', value='Rope to Rope')
								label(for='r2r_transfer') Rope to Rope
							.input-group.small-12.medium-4
								input(id='edge', type='checkbox', name='types', value='Edge')
								label(for='edge') Edge Negotiation
							.input-group.small-12.medium-4
								input(id='rescue', type='checkbox', name='types', value='Stand-by Rescue')
								label(for='rescue') Rescue
							.input-group.small-12.medium-4
								input(id='train', type='checkbox', name='types', value='Training')
								label(for='train') Training
				.cell.large-5.small-12.input-group
					span.input-group-label Details:
					textarea.input-group-field#details(rows='9', name='details', placeholder='Short Description...')
					if editing
						#{log.details}
					else
			.align-spaced.grid-x.grid-margin-y
				input.hide(name="_csrf", value= csrfToken)
				//button.button.alert.hollow.cell.large-3.small-12.shadow(type='reset' href="/edit-entry") Reset Form
				if !editing
					button.button.success.hollow.cell.large-3.small-12.shadow(type='submit') Save Entry
				else
					input.hide(name="logId", value='{log._id}', type="hidden")
					button.button.warning.hollow.cell.large-3.small-12.shadow(type='submit') Update Entry


block scriptBlock
	script(src="https://unpkg.com/js-datepicker")
	script const picker = datepicker('#date-input', { formatter: (input, date, instance) => { const value = date.toLocaleDateString(); input.value = value}})
