extends ../partials/logbook-includes/logbook-layout

block bodycontent
	div
		h4.text-center #{username}'s Logbook:
			span.small #{totalHours} hours

	.callout.primary.medium-12.large-10.float-center.padding-top-1.small-margin-collapse
		if logs.length > 0 || log
			table.hover.stack
				thead
					tr
						th Date
						th Location
						th Company
						th Hours
						th Max
						th Type
						th Techniques
						th
				tbody
					each log in logs
						tr
							if log.date
								td= log.date.toLocaleDateString("en-US")
							else
								td= ""
							td= log.location
							td= log.company
							td= log.hours + " hours"
							td= log.maxHeight + " Ft"
							td= log.type
							td= log.techniques
							td
								.button-group.tiny.padding-top-3
									if !log.verified
										a.button.hollow.tiny.success verify
									a.button.hollow.tiny.warning(href="/logbook/edit/" + log._id + "?edit=true") edit
									form(action="/logbook/delete", method="POST")
										input(type="hidden", value=log._id, name='logId')
										input(type="hidden", name="_csrf", value=csrfToken)
										button.button.hollow.tiny.alert(type="submit") delete
		else
			h6.font-bold.text-center No Log Entries!
