extends ../partials/logbook-includes/logbook-layout

block bodycontent
	div.homepage-section-title.callout.primary
		h3.text-center #{username}'s Logbook:
		h5.text-center.subheader #{totalHours} hours

	.callout.warning.medium-6.float-center(data-closeable)
		h3.large-text-center Important!
		p.text-center  Information entered into logs are saved, but the verification module has not yet been completed. Therefore, all entries are currently unverified. In the future, the verify button will send an email to the Supervisor and allow them to verify each log entry.
		button.close-button(aria-label="Dismiss alert", type="button", data-close)
			span(aria-hidden="true") &times;

	.callout.primary.medium-12.large-10.float-center.padding-top-1.small-margin-collapse
		if logs.length > 0 || log
			table.hover.stack
				thead
					tr
						th Date
						th Location
						th Company
						th Hours
						th Max
						th Type
						th Techniques
						th
				tbody
					each log in logs
						tr
							if log.date
								td= log.date.toLocaleDateString("en-US")
							else
								td= ""
							td= log.location
							td= log.company
							td= log.hours + " hours"
							td= log.maxHeight + " Ft"
							td= log.type
							td= log.techniques
							td
								.button-group.tiny.padding-top-3
									if !log.verified
										a.button.hollow.tiny.success verify
									a.button.hollow.tiny.warning(href="/logbook/edit/" + log._id + "?edit=true") edit
									form(action="/logbook/delete", method="POST")
										input(type="hidden", value=log._id, name='logId')
										input(type="hidden", name="_csrf", value=csrfToken)
										button.button.hollow.tiny.alert(type="submit") delete
		else
			h6.font-bold.text-center No Log Entries!
